<div class="login" *ngIf="page.isPageLoaded" >
  <div class="row h-100 justify-content-center">
    <div class="col-lg-5">
      <div class="login-page mx-auto">
        <img src="/assets/img/login-img.png" class="d-block" style="max-width:200px;margin: 0 auto;">
        <p class="c-00f font-28 mb-5">{{'shared.sign-in'|translate}}</p>
        <div class="invalid-user" *ngIf="invalidUser">
          <p>{{'shared.validation.invalid-user-password'|translate}}</p>
          <i class="uil uil-times ms-auto font-18 li-h1 pointer" (click)="invalidUser=false"></i>
        </div>
        <form [formGroup]="page.form" class="form-login mb-4 w-100">
          <fieldset class="form-group">
            <label for="basicInput">{{'shared.username'|translate}}</label>
            <input type="text" class="form-control form-control-lg w-100" formControlName="Username" placeholder="Enter your Username"
              (keyup)="enterEvent($event)" />
          </fieldset>
          <fieldset class="form-group position-relative">
            <label for="basicInput" class="font-14">{{'shared.password'|translate}}</label>
            <input [type]="fieldTextType ? 'text' : 'password'"  class="form-control form-control-lg w-100" formControlName="Password"
              placeholder="Enter your Password" (keyup)="enterEvent($event)" />
              <!-- <p class="label-disc pointer" (click)="toggleFieldTextType()"><i class="uil font-18 li-h1" [ngClass]="{'uil-eye-slash': !fieldTextType,'uil-eye': fieldTextType}"></i></p> -->
          </fieldset>
        </form>
        <button (click)="login()" class="btn login-btn w-100" [disabled]="disabledSubmit()">
          {{'shared.sign-in'|translate}}
        </button>

        <button class="rb-btn rb-btn-invisible position-absolute mt-auto mb-2 bottom-0" (click)="toggleLang()" >
          <span class="rb-btn-text">{{lang =='ar'?'English':'العربية'}}</span>
        </button>
      </div>
    </div>

  </div>
</div>