<div class="page">
  <div class="h-100" *ngIf="!page.isPageLoaded">
    <loading title="{{'shared.loading'|translate}}" [inline]="false"></loading>
  </div>
  <div class="page-content" *ngIf="page.isPageLoaded">
    <div class="card h-100">
      <div class="card-header">
        <div class="title d-flex align-items-center w-100">
          <p class="font-20 bold">{{'product.title'|translate}}</p>
          <a routerLink="/product/create" class="ms-auto d-block">
            <button class="rb-btn rb-btn-primary rb-btn-sm ">
              <i class="uil uil-plus c-white"></i>
              <span class="rb-btn-text">{{'shared.create'|translate}}</span>
            </button></a>
        </div>
      </div>
      <div class="card-content">
        <div class="scolled h-100">
          <table class="table">
            <thead>
              <tr class="th-header">
                <th>#</th>
                <ng-container *ngFor="let colum of page.columns ;let i=index;">
                  <th [class.pointer]="colum.Sortable" (click)="onSortClicked(colum)">
                    {{colum.Title | translate}}
                    <div *ngIf="colum.Sortable" class="d-inline-block"
                      [ngClass]="(isColumnAscending(colum.Name)!=null) ? 'arrow-sort' : ''">
                      <i class="uil uil-sort sort-icon"
                        [ngClass]="isColumnAscending(colum) ? 'sort-icon-ase' : 'sort-icon-des'"></i>
                    </div>
                  </th>
                </ng-container>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr [hidden]="!page.isSearching && page.isPageLoaded">
                <td colspan="100%">
                  <img src="/assets/img/gif-loading.gif" class="d-block" style="width:300px;margin: 0 auto;">
                </td>
              </tr>
              <tr [hidden]="page.isSearching || items.length>0">
                <td colspan="100%">
                  <span>{{'shared.no-data-found'|translate}}</span>
                </td>
              </tr>
              <tr *ngFor="let item of items ;let i=index;">
                <td class="hidden-xs">{{i+1}}</td>
                <td>
                  <a class="c-darkblue" routerLink="/product/edit/{{item.id}}" [title]="item.title">
                    <div class="d-flex align-items-center"><img [src]="item.image" class="rect-32 radius-8 me-3">
                    <p class="c-darkblue">{{item.title|maxLengthDot:35}}</p>
                    </div>
                  </a>
                </td>
                <td>{{item.price|price}}</td>
                <td>{{item.rating.count}}</td>
                <td>{{item.rating.rate}}</td>
                <td><span [title]="item.description">{{item.description|maxLengthDot:60}}</span></td>
                <td>
                  <div class="pointer dropdown text-end">
                    <img class="rect-20 pointer" src="/assets/icon/ellipsis_h-666.svg" id="dropdownMenuID"
                      data-bs-toggle="dropdown" aria-expanded="false">
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuID">
                      <li role="button">
                        <a class="dropdown-item d-flex" routerLink="/product/edit/{{item.id}}">
                          <i class="uil uil-edit font-14 bold me-2"></i>
                          <p>{{'shared.edit'| translate}}</p>
                        </a>
                      </li>
                      <li role="button">
                        <a class="dropdown-item d-flex" (click)="showDeleteConfirmation(item)">
                          <i class="uil uil-trash-alt font-14 bold me-2"></i>
                          <p>{{'shared.delete'| translate}}</p>
                        </a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #deleteTemplate>
  <div class="modal-content confirm-modal">
    <div class="modal-body">
      <p class="modal-title font-16 bold c-00f">{{'product.delete-product'|translate}}</p>
      <p class="modal-confirm-content mb-2">{{'shared.delete-confirmation.message'|translate}} </p>
      <div class="d-flex mt-4">
        <button type="button" class="btn cancel-btn me-auto"
          (click)="modalRef.hide()">{{'shared.cancel'|translate}}</button>
        <button type="button" [disabled]="page.isSaving" class="btn btn-without-icon bg-e5 ms-2"
          (click)="remove()">{{'shared.confirm'|translate}}</button>
      </div>
    </div>
  </div>
</ng-template>