<div class="page wrapper-view">
  <div class="h-100" *ngIf="!page.isPageLoaded">
    <loading title="{{'shared.loading'|translate}}" [inline]="false"
      desc="{{'shared.loading-describ'|translate}}"></loading>
  </div>
  <div class="page-content p-0" *ngIf="page.isPageLoaded">
    <div class="card">
      <div class="card-header py-2">
        <div class="title d-flex flex-wrap align-items-center w-100">
          <p class="font-20 bold text-nowrap me-2 my-1">
            <i class="uil uil-arrow-left pointer" routerLink="/product"></i>
            {{'product.title'|translate}} / {{(page.isEdit?'shared.edit':'shared.create')|translate}}
          </p>
          <div class="d-flex align-items-center my-1 ms-auto" *ngIf="page.isPageLoaded">
            <button class="rb-btn rb-btn-secondary rb-btn-sm me-2" routerLink="/product">
              <span class="rb-btn-text">{{'shared.cancel'|translate}}</span>
            </button>
            <button class="rb-btn rb-btn-success rb-btn-sm" [disabled]="disabledSubmit()" (click)="save()">
              <span class="rb-btn-text">{{(page.isEdit?'shared.edit':'shared.create')|translate}}</span>
            </button>
          </div>
        </div>
      </div>
      <div class="card-content">
        <form [formGroup]="page.form">
          <div class="row row-cols-sm-2 row-cols-lg-4 row-cols-1 g-2">
            <div class="col">
              <ng-control [form]="page.form" control="title" label=" {{'shared.product' | translate}}"
                placeholder="{{'shared.enter' | translate}} {{'shared.product' |translate}}"></ng-control>
            </div>
            <div class="col">
              <ng-control [form]="page.form" control="price" label=" {{'shared.price' | translate}}"
                placeholder="{{'shared.enter' | translate}} {{'shared.price' |translate}}"></ng-control>
            </div>
            <div class="col">
              <ng-control [form]="page.form" control="description" label=" {{'shared.description' | translate}}"
                placeholder="{{'shared.enter' | translate}} {{'shared.description' |translate}}"></ng-control>
            </div>
          </div>
        </form>
        <div class="mt-3">
          <p class="c-g900 font-14  mt-3"> {{'shared.select-category'|translate}} <span
              class="text text-danger">*</span></p>
          <div class="row row-cols-1 row-cols-md-4 row-cols-lg-5 g-2 mt-2">
            <div class="col mb-2" *ngFor="let item of categoryList; let i = index">
              <div class="select-item pointer bg-white" (click)="category.setValue(item)"
                [class.selected]="item == category.value">
                <p class="d-flex align-items-center text-nowrap font-13">{{item|maxLengthDot:24}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>